<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

    <body>
        <!-- Header with the Navigation Menu-->
        <header>
            <%- include('./partials/nav.ejs') %>
        </header>

        <!-- Page Title-->
        <div>
            <h1>African Cuisine Menu</h1>
        </div>

        <!-- Blogs-->
        <div>
            <h2 id="Blogs">Blogs</h2>

            <div class="blogs content">
                <h2 class="All Blogs"></h2>

                <% if (blogs.length> 0) {%>
                    <% blogs.forEach(blog=> { %>
                        <h3 class="title">
                            <%= blog.title %>
                        </h3>
                        <p class="snippet">
                            <%= blog.snippet %>
                        </p>
                        <% }) %>
                            <% }else {%>
                                <p>There are no blogs to display...</p>
                                <% } %>


            </div>

            <!-- Link at bottom of page, leading to Contact Page-->
            <div>
                <%- include('./partials/footer.ejs') %>
            </div>
    </body>

</html>